<div class="container d-flex flex-column align-items-center h-100 mt-3">
  {{#each posts as |post|}}
  <div class="card mb-3 p-3 w-75">
    <h5 class="card-title"><a href="/posts/view-post/{{post.id}}">{{post.title}}</a> </h5>
    <h8 class="card-subtitle mb-2 text-muted fw-light border-bottom border-secondary ">@{{post.username}} {{post.timestamp}}</h8> 
    <p class="card-text">{{post.content}}</p>
  </div>
  {{/ each }}  
</div>